<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="background"><%= image_tag "creative/portfolio/bg3.jpg", class: "object-fit"%></div>
  </li>
  <li><a href="#home" class="waves-effect"> <i class="material-icons">home</i>&nbsp Home</a></li>
  <li><a href="#about" class="waves-effect"> <i class="material-icons">person</i>&nbsp About</a></li>
  <li><a href="#work" class="waves-effect"> <i class="material-icons">business_center</i>&nbsp Work</a></li>
  <li><a href="#experience" class="waves-effect"> <i class="material-icons">lightbulb_outline</i>&nbsp Experience</a></li>
  <li><a href="#skill" class="waves-effect"> <i class="material-icons">assessment</i>&nbsp Skill</a></li>
  <li> <a href="#contact" class="waves-effect"> <i class="material-icons">contact_phone</i>&nbsp Contact</a></li>
</ul>
<div id="home" class="scrollspy">
  <div class="parallax">
    <div class="home-bg-tint"> </div>
    <div class="title-content">
      <h2>CLEAR THINKING. MADE VISUAL.</h2>
      <h3>JEFFERY TAN • WEB DESIGNER • WEB DEVELOPER</h3><br/><a href="#about" class="waves-effect waves-light btn-large"><i class="material-icons right">details</i>Learn More</a>
    </div>
  </div>
</div>
<div class="page">
  <div id="about" class="scrollspy">
    <div class="bg-color-1">
      <div class="row">
        <div class="col l7">
          <div class="content-wrap">
            <div class="content-title">
              <h2>About.</h2>
            </div>
            <div class="content-subtitle">
              <h3>INSPIRED BY DIFFERENCE</h3>
            </div>
            <div class="content">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur a nisl a tincidunt. Etiam placerat velit sem, vel suscipit augue fermentum nec. Sociis natoque penatibus et magnis dis.</h6>
            </div>
            <div class="seperator"></div>
            <div class="content-sub-content">
              <p>Parturient montes, nascetur ridiculus mus. Maecenas ac finibus turpis. Vivamus et elit in leo pretium pharetra. Sed lobortis urna turpis, id ultricies dolor pharetra ac. Proin suscipit odio non libero ullamcorper, sit amet tincidunt lacus porta. Aenean sodales lectus ex, non sagittis nibh ultricies at. Aliquam nec dolor posuere, vulputate mauris at, fermentum Donec ligula metus, hendrerit at malesuada vel, facilisis sit amet dui. Aliquam erat volutpat. Nulla eget ornare dolor. Pellentesque convallis dui ante, eu pretium ipsum bibendum fermentum. Proin dui arcu, mattis non ultricies ac, pellentesque eget ipsum. Nullam tincidunt orci in interdum facilisis. Vestibulum eu neque et mauris vestibulum pretium vel vitae enim. Vestibulum id ipsum risus. Suspendisse lectus tortor, pretium ut orci vitae, mollis iaculis risus.</p>
            </div><a href="#work" class="waves-effect waves-light btn-large"><i class="material-icons right">details</i>Work</a>
          </div>
        </div>
        <div class="col l5">
          <div class="img-size"><%= image_tag "creative/portfolio/bg4.jpg", class: "object-fit"%></div>
        </div>
      </div>
    </div>
  </div>
  <div id="work" class="scrollspy">
    <div class="bg-color-2">
      <div class="row">
        <div class="col l7">
          <div class="content-wrap">
            <div class="content-title">
              <h2>Work.</h2>
            </div>
            <div class="content-subtitle">
              <h3>Recent Projects</h3>
            </div>
            <div class="row">
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content</p>
              </div>
              <div class="col l4">
                <p>Content </p>
              </div>
              <div class="col l4">
                <p>Content </p>
              </div>
              <div class="col l12"><a href="#experience" class="waves-effect waves-light btn-large"><i class="material-icons right">details</i>Experience</a></div>
            </div>
          </div>
        </div>
        <div class="col l5">
          <div class="img-size"><%= image_tag "creative/portfolio/bg6.jpg", class: "object-fit"%></div>
        </div>
      </div>
    </div>
  </div>
  <div id="experience" class="scrollspy">
    <div class="bg-color-1">
      <div class="row">
        <div class="col l7">
          <div class="content-wrap">
            <div class="content-title">
              <h2>Work Experience</h2>
            </div>
            <div class="content-subtitle">
              <h3>Great Design Matters</h3>
            </div>
            <div class="content">
              <h6>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate provident suntin.</h6>
            </div>
            <div class="seperator"></div>
            <div class="content-sub-content">
              <h5> <span style="color:#fff">01. Web Developer</span></h5>
              <hr/>
              <p>text</p>
              <h5> <span style="color:#fff">02. Quantity Surveyor</span></h5>
              <hr/>
              <p>text</p>
              <h5> <span style="color:#fff">03. Design</span></h5>
              <hr/>
              <p>text</p>
            </div><a href="#skill" class="waves-effect waves-light btn-large"><i class="material-icons right">details</i>Skill</a>
          </div>
        </div>
        <div class="col l5">
          <div class="img-size"><%= image_tag "creative/portfolio/bg7.jpg", class: "object-fit"%></div>
        </div>
      </div>
    </div>
  </div>
  <div id="skill" class="scrollspy">
    <div class="bg-color-2">
      <div class="row">
        <div class="col l7">
          <div class="content-wrap">
            <div class="content-title">
              <h2>Skills. </h2>
            </div>
            <div class="content-subtitle">
              <h3>RESULTS DRIVEN DESIGN.</h3>
            </div>
            <div class="content">
              <h6>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in.</h6>
            </div>
            <div class="seperator"></div>
            <div class="content-sub-content">
              <h5>01. Web Developer</h5>
              <hr/>
              <p>text</p>
              <h5>02. Quantity Surveyor</h5>
              <hr/>
              <p>text</p>
              <h5>03. Design</h5>
              <hr/>
              <p>text</p>
            </div>
          </div>
        </div>
        <div class="col l5">
          <div class="img-size"><%= image_tag "creative/portfolio/bg9.jpg", class: "object-fit"%></div>
        </div>
      </div>
      <div class="btn-full-width"><a href="#contact" class="waves-effect waves-light btn-large"><i class="material-icons right">details</i>Get in Touch</a></div>
    </div>
  </div>
  <div id="contact" class="scrollspy">
    <div class="bg-color-1">
      <div class="row">
        <div class="col l7">
          <div class="content-wrap">
            <div class="content-title">
              <h2>Contact. </h2>
            </div>
            <div class="content-subtitle">
              <h3>Lets talk.</h3>
            </div>
            <div class="content">
              <h6>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</h6>
            </div>
            <div class="seperator"></div>
            <div class="content-sub-content">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="first_name" type="text" class="validate"/>
                      <label for="first_name">Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate"/>
                      <label for="email">Email</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l5">
          <div class="img-size"><%= image_tag "creative/portfolio/bg8.jpg", class: "object-fit"%></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('.scrollspy').scrollSpy({
        scrollOffset:0
      });
    });
  </script>
</div>